name: Check Automation Status
on:
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  check-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Install Puppeteer Browser
        run: npx puppeteer browsers install chrome

      - name: Run Script
        env:
          COURIER_API_KEY: ${{ secrets.COURIER_API_KEY }}
          MY_EMAIL: ${{ secrets.MY_EMAIL }}
          USER_ID: ${{ secrets.USER_ID }}
          USER_PASS: ${{ secrets.USER_PASS }}
        run: node alert.js

      - name: Upload Screenshot on Failure
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: debug-screenshots
          path: ./*.png